{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
{% endblock %}

{% block page_title%}
    All Challenges
{% endblock %}

{% block content%}

    {% include "challenges/includes/header.html" %}
    {% comment %} {% include "challenges/includes/header.html" with active_page="index"%}   {% endcomment %}

    <ul>
        {% for month in months %}
            <li>
                <a href="{% url "month-challenge" month %}">{{ month|title }}</a> 
                {% comment %} 
                    # not recomended using hardcode path
                    <a href="/challenges/{{ month }}">{{ month|title }}</a> 
                {% endcomment %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
